@page
@model CreateModel

<h1>Create Categories</h1>
<div class="container">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="CategoryVM.CategoryName" class="control-label"></label>
                <div>
                    <input asp-for="CategoryVM.CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryVM.CategoryName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"> 
                <label asp-for="CategoryVM.Description" class="control-label"></label>
                <div>
                    <input asp-for="CategoryVM.Description" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <label asp-for="CategoryVM.Picture"></label>
                <input type="file" class="form-control" asp-for="CategoryVM.Picture">
            </div>
        </div>
        <input type="submit" class="btn">
    </form>
</div>



